*.class
/bin/
/out/
/.classpath
/.project
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/lib.xml
microrts.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
traces/0-vs-1-0-18.zip
traces/0-vs-1-0-19.zip
traces/0-vs-1-0-2.zip
traces/0-vs-1-0-3.zip
traces/0-vs-1-0-4.zip
traces/0-vs-1-0-5.zip
traces/0-vs-1-0-6.zip
traces/0-vs-1-0-7.zip
traces/0-vs-1-0-8.zip
traces/0-vs-1-0-9.zip
traces/0-vs-1-1-0.zip
traces/0-vs-1-1-1.zip
traces/0-vs-1-1-10.zip
traces/0-vs-1-1-11.zip
traces/0-vs-1-1-12.zip
traces/0-vs-1-1-13.zip
traces/0-vs-1-1-14.zip
traces/0-vs-1-1-15.zip
traces/0-vs-1-1-16.zip
traces/0-vs-1-1-17.zip
traces/0-vs-1-1-18.zip
traces/0-vs-1-1-19.zip
traces/0-vs-1-1-2.zip
traces/0-vs-1-1-3.zip
traces/0-vs-1-1-4.zip
traces/0-vs-1-1-5.zip
traces/0-vs-1-1-6.zip
traces/0-vs-1-1-7.zip
traces/0-vs-1-1-8.zip
traces/0-vs-1-1-9.zip
traces/1-vs-0-0-0.zip
traces/1-vs-0-0-1.zip
traces/1-vs-0-0-10.zip
traces/1-vs-0-0-11.zip
traces/1-vs-0-0-12.zip
traces/1-vs-0-0-13.zip
traces/1-vs-0-0-14.zip
traces/1-vs-0-0-15.zip
traces/1-vs-0-0-16.zip
traces/1-vs-0-0-17.zip
traces/1-vs-0-0-18.zip
traces/1-vs-0-0-19.zip
traces/1-vs-0-0-2.zip
traces/1-vs-0-0-3.zip
traces/1-vs-0-0-4.zip
traces/1-vs-0-0-5.zip
traces/1-vs-0-0-6.zip
traces/1-vs-0-0-7.zip
traces/1-vs-0-0-8.zip
traces/1-vs-0-0-9.zip
traces/1-vs-0-1-0.zip
traces/1-vs-0-1-1.zip
traces/1-vs-0-1-10.zip
traces/1-vs-0-1-11.zip
traces/1-vs-0-1-12.zip
traces/1-vs-0-1-13.zip
traces/1-vs-0-1-14.zip
traces/1-vs-0-1-15.zip
traces/1-vs-0-1-16.zip
traces/1-vs-0-1-17.zip
traces/1-vs-0-1-18.zip
traces/1-vs-0-1-19.zip
traces/1-vs-0-1-2.zip
traces/1-vs-0-1-3.zip
traces/1-vs-0-1-4.zip
traces/1-vs-0-1-5.zip
traces/1-vs-0-1-6.zip
traces/1-vs-0-1-7.zip
traces/1-vs-0-1-8.zip
traces/1-vs-0-1-9.zip
